#pip==25.1.1 si se quiere una version especifica
Flask
Flask-Babel
pymysql
pandas
numpy
seaborn
matplotlib
requests
scikit-learn
joblib
xarray
earthaccess
dask
netCDF4
fsspec
aiohttp
# $ pip install -r requirements.txt

# python -m pip install --upgrade pip setuptools wheel
# pip install netCDF4 xarray fsspec aiohttp