<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will it be rain on my parade?</title>
    <!-- icono de la pagina web -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('home.uploads', filename='rocket.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
        <h1 class="text-center">Will it be rain on my <span class="parade-text">parade?</span></h1>
        <p class="text-center">¿Quieres saber si lloverá en tu área?</p>
        <div class="text-center mt-4">
            <a href="{{ url_for('home.menu') }}" class="btn-continue">Continuar</a>
        </div>
    </div>
</body>
</html>