<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    <!-- icono de la pagina web -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('home.uploads', filename='rocket.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('home.static_files', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('home.static_files', filename='css/index.css') }}">

    {% block style %} {% endblock %}
    
</head>
<body>
    <header>
        <div class="language-selector">
            <div class="dropdown">
                <button class="language-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if session.get('lang') == 'en' %}
                        <span class="flag-emoji">🇺🇸</span>EN
                    {% else %}
                        <span class="flag-emoji">🇪🇸</span>ES
                    {% endif %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('home.change_language', language='en') }}">
                            <span class="flag-emoji">🇺🇸</span>English
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('home.change_language', language='es') }}">
                            <span class="flag-emoji">🇪🇸</span>Español
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {% block body %} {% endblock %}

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('home.static_files', filename='js/bootstrap.bundle.min.js') }}"></script>
    
    {% block script %} {% endblock %}
</body>
</html>